@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-open-sans: "Open Sans", sans-serif;
  --ff-raleway: "Raleway", sans-serif;
  --clr-Very-Dark-Blue: hsl(243, 87%, 12%);
  --clr-Desaturated-Blue: hsl(238, 22%, 44%);
  --clr-Bright-Blue: hsl(224, 93%, 58%);
  --clr-Moderate-Cyan: hsl(170, 45%, 43%);
  --clr-Light-Grayish-Blue: hsl(240, 75%, 98%);
  --clr-Light-Gray: hsl(0, 0%, 75%);
}

html {
  font-size: 16px;
}

body {
  /* width: 1440px; */
  /* margin: auto; */
  font-family: var(--ff-open-sans);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* header */

.header {
  padding: 1.5rem 1rem;
  min-height: 100vh;
}

.navbar-brand {
  padding-top: 5px;
  width: 80px;
}

.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.nav-list-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-list-item {
  font-size: 1.1rem;
}

.nav-link {
  color: var(--clr-Very-Dark-Blue);
}

.hero-section {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.hero-left-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-heading {
  /* font-size: 2rem; */
  font-weight: bold;
  margin-left: -1rem;
  font-family: var(--ff-raleway);
}

.hero-description {
  color: var(--clr-Very-Dark-Blue);
  width: 85%;
  margin: auto;
  font-size: 1.1rem;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-input {
  width: 85%;
  margin: auto;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border: 1.5px solid black;
  border-radius: 3px;
}

.btn-hero {
  width: 85%;
  margin:auto ;
  padding: 0.95rem 2rem;
  color: white;
  background-color: var(--clr-Bright-Blue);
  border: none;
  border-radius: 3px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

/* main section */
.main-section {
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.main-left-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main-sec-title {
  text-align: center;
  font-size: 1.15rem;
  padding-top: 1.5rem;
  font-family: var(--ff-raleway);
}

.link {
  color: var(--clr-Moderate-Cyan);
  display: block;
  border-bottom: 2px solid var(--clr-Moderate-Cyan);
  padding-left: 2px;
  width: 55%;
  margin: auto;
}

.img-link {
  width: 1.6rem;
  height: 1.6rem;
  padding-left: 10px;
}

.small-card {
  background-color: white;
  padding: 1rem 1.5rem;
  width: 95%;
  margin: 1rem auto 3.5rem;
  border-radius: 8px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25), -3px -3px 2px rgba(0, 0, 0, 0.25);
}

.quote-img {
  width: 16px;
  height: 16px;
}

.card-para {
  padding-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--clr-Desaturated-Blue);
}

.author-section {
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.name {
  font-size: 0.75rem;
  font-weight: 900;
}

.author-name {
  font-size: 0.7rem;
}

.main-right-container {
  padding-top: 3rem;
}

/* cta */

.cta {
  background-color: var(--clr-Desaturated-Blue);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 2rem 3rem;
}

.cta-left-container {
  text-align: center;
  color: var(--clr-Light-Grayish-Blue);
}

.cta-title {
  font-size: 1.25rem;
  font-family: var(--ff-raleway);
  padding-bottom: 1.35rem;
}

.cta-para {
  font-size: 0.95rem;
  padding-top: 0.85rem;
}

.cta-right-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 1.5rem;
}

.cta-input {
  width: 80%;
  margin: auto;
  padding: 0.5rem 0.75rem;
  border: 1px solid white;
  border-radius: 3px;
}

.btn-cta {
  width: 100%;
  margin: auto;
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: var(--clr-Bright-Blue);
  border: none;
  border-radius: 3px;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: hsl(224, 98%, 52%);
  transform: 0.3s;
}

/* footer */
/* f 1 */
.footer {
  padding: 3rem 2rem;
  background-color: var(--clr-Very-Dark-Blue);
}

.footer-logo-container {
  color: white;
  font-weight: 900;
  font-size: 2.25rem;
  font-family: var(--ff-raleway);
  padding-bottom: 1rem;
}

.footer-image {
  width: 16px;
  height: 15px;
}

.email-container,
.mobile-container {
  display: flex;
  color: var(--clr-Light-Grayish-Blue);
  align-items: center;
  gap: 1.25rem;
  margin-top: 1rem;
}

.footer-one,
.footer-two,
.footer-three {
  padding-bottom: 2.75rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

a {
  color: var(--clr-Light-Grayish-Blue);
}

.social-media {
  text-align: center;
  padding: 0.75rem;
}

.social-icon {
  padding: 0.75rem;
  margin: 0.1rem 0.5rem;
  border: 2px solid var(--clr-Light-Grayish-Blue);
  border-radius: 50%;
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  /* header */
  .header {
    padding: 1.5rem 3rem;
  }

  .navbar-brand {
    width: 140px;
  }

  .nav-list-container {
    padding-right: 2rem;
    gap: 2rem;
  }

  .nav-list-item {
    font-size: 1.25rem;
  }

  .hero-section {
    display: flex;
    flex-direction: row;
  }

  .hero-left-container {
    padding-top: 4rem;
    text-align: left;
    height: 50vh;
    gap: 2rem;
  }

  .hero-heading {
    padding-left: 3.5rem;
    padding-top: 4rem;
    margin-bottom: -2.5rem;
  }

  .hero-description {
    font-size: 1.15rem;
    padding-top: 2rem;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .form-control {
    padding-right: 3.5rem;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .hero-input {
    width: 50%;
  }

  .btn-hero {
    width: 30%;
    margin-left: -4rem;
  }

  /* main section */
  .main-section {
    background-image: url("../images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 4rem 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .main-sec-title {
    text-align: left;
    font-size: 1.75rem;
    font-weight: 900;
    padding-top: 1.5rem;
    font-family: var(--ff-raleway);
  }

  .main-img {
    width: 70%;
    height: 70%;
    margin: auto;
    margin-left: 12rem;
    margin-top: 2rem;
  }

  .main-para {
    font-size: 1.1rem;
  }

  .link {
    display: inline;
    border-bottom: 2px solid var(--clr-Moderate-Cyan);
    margin-left: -0.1rem;
    width: 31%;
  }

  .small-card {
    width: 60%;
    margin: 1.5rem auto;
    margin-left: -0.1rem;
  }

  .cta {
    display: flex;
    flex-direction: row;
    padding: 5rem 4.3rem;
  }

  .cta-left-container {
    text-align: left;
    width: 60%;
  }

  .cta-title {
    font-size: 2rem;
  }

  .cta-para {
    font-size: 1.1rem;
    margin-top: -0.5rem;
    margin-right: 7rem;
  }

  .cta-right-container {
    width: 40%;
  }

  .btn-cta {
    width: 35%;
    margin-left: 3.2rem;
  }

  .footer {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .footer-two,
  .footer-three {
    margin-bottom: -8rem;
  }

  .footer-three {
    margin-top: -2rem;
  }
}
